.delaware-order-info-body-header {
  margin-left: 14px;
  margin-top: 14px;

  p {
    margin-bottom: 0;
  }

  .delaware-order-info-body-header-status {
    color: green;
    font-weight: bolder;
  }
  .productsList{
    margin-left: 14px;
    margin-top: 14px;
  }
}