.delaware-product-info {
  border-radius: 5px;
  border: 2px solid #d9d9d9;
  padding: 25px;
  margin: 14px 0px 10px 10px;

  img {
    height: 100px;
    width: 125px;
    margin-right: 20px;
  }

  .delaware-product-info-body {
    display: flex;
    align-items: center;
  }

  h1 {
    font-size: 24px;
    margin-right: 10px;
  }

  .delaware-order-info-body-info-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
}