.delaware-order-info-body-header {
  margin-left: 14px;
  margin-top: 14px;

  p {
    margin-bottom: 0;
  }

  .delaware-order-info-body-header-status {
    color: green;
    font-weight: bolder;
  }

  .productsList {
    margin-left: 14px;
    margin-top: 14px;
  }
}

.delaware-order-info-body-info-button {
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    margin-bottom: 2px;
    margin-right: 5px;
    font-size: 15px;
  }
}

.ant-collapse-expand-icon  {
  margin-top: 5px;
}

@media only screen and (max-width: 767px) {
  #orders-page {
    height: 350vh;
  }
}

@media only screen and (min-width: 768px) {
  #orders-page {
    height: 200vh;
  }
}