.delaware-tracking-page {
  width: 50%;
  height: 50%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin: auto;
  text-align: center;
}

.delaware-tracking-input-label {
  font-weight: bold;
}

.delaware-tracking-input {
  width: 50% !important;
}