.delaware-tracking-page {
  max-width: 90%;
  min-height: calc(100vh - 263px);
  padding-top: 5%;
  padding-bottom: 5%;
  margin: auto;
  text-align: center;
}

.delaware-tracking-input-label {
  font-weight: bold;
}

.delaware-tracking-input {
  width: 50% !important;
}

.delaware-tracking-infotable {
  margin-top: 5%;
  margin-bottom: 5%;
}

.delaware-tracking-steps {
  margin-top: 5%;
  margin-bottom: 5%;
}

.ant-table-thead > tr > th {
  background-color: #e8e8e8 !important; /* set the background color to light gray */
  padding: 2% !important;
}

.ant-table-tbody > tr > td {
  padding: 2% !important;
}

.ant-form-item-label {
  min-height: 50px;
}

