.delaware-single-product-info {


  img {
    height: 100px;
    width: 125px;
    margin-right: 20px;
  }

  .delaware-single-product-info-body {
    display: flex;
    align-items: center;
  }

  h1 {
    font-size: 24px;
    margin-right: 10px;
  }

}

#single-order-overview {
  min-height: calc(100vh - 90px);
}