.delaware-single-product-info {


  img {
    height: 100px;
    width: 125px;
    margin-right: 20px;
  }

  .delaware-single-product-info-body {
    display: flex;
    align-items: center;
  }

  h1 {
    font-size: 24px;
    margin-right: 10px;
  }

}

@media only screen and (max-width: 767px) {
  #single-order-overview {
    height: 100vh;
  }
}

@media only screen and (min-width: 768px) {
  #single-order-overview {
    height: 110vh;
  }
}